@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Code+Pro');

body, html{
	height: 100%;
	margin: 0;
	background-color: #f9f9f9;
}

h1 {
	font-family: 'Playfair Display', serif;
	font-size: 50px;
	text-align: center;
}

h2 {
	padding: 20px;
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	margin: 0 auto;
}
h3 {
	font-family: 'Playfair Display', serif;
	font-size: 25px;
}

h4 {
	font-family: 'Source Code Pro', monospace;
	font-size: 15px;
	text-align: center;
	padding: 0px;
	color: white;
}

p{
	font-family: 'Source Code Pro', monospace;
	font-size: 20px;
	text-align: center;
}

ul{
	list-style-type: none;
	display: table;
	margin: 0 auto;
	font-family: 'Source Code Pro', monospace;
	font-size: 20px;
	padding: 0px;
}

ol {
	display: table;
	margin: 0 auto;
	font-family: 'Source Code Pro', monospace;
	font-size: 20px;
}

a:link {
    text-decoration: none;
    color: #999999;
}

a:visited {
    text-decoration: none;
    color: #999999;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}

footer {
	background-color: black;
	text-align:center;
	height: 10%;
	padding-top: 5px;
	margin-top: -30px;
	position: absolute;
	width: 100%;
	overflow: hidden;
}

.content {
	border-radius: 15px 50px 0px 0px;
	background-color: #C0C0C0;
	width: 75%;
	margin: 0 auto;
	min-height: 100%;
	min-height: calc(100% - 80px);
	overflow: all;
}

.block {
	margin: 0 auto;
}

button {
	text-align: center;
	font-style: "Playfair Display", serif;
	font-size: 30px;
}

